/*@import './base.css';*/

@font-face{
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
body{
  background-color: #ff5a5a;
  font-family: "Roboto-Regular";
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
nav{
  display: flex;
}

